streamlit
pandas
SQLAlchemy==2.0.*
psycopg2-binary
gspread           # keep until migration is done
google-auth
google-auth-httplib2
google-auth-oauthlib
toml
streamlit-authenticator
extra-streamlit-components
PyYAML
